h1 h2 h3 h4 h5 h6 {
    margin-left: 0px;
    padding-left: 0px;
}

body {
    color: #3C3B37;
    font-family: Droid Sans, Helvetica, Sans, Arial;
    //background-image: url("drawings/background.png");
    //background-color: #f0f0f0;
    //background-color: #c4c4c4;
    font-size: 18px;
}

#container
{
    //min-height: 600px;
    max-width: 100%;
    position: relative;
    //background-color:;
    padding: 10px;
    -moz-border-radius: 5px;
}

#header {
    min-height: 60px;
    width: 100%;
    margin-bottom: 23px;
    //background-color: #cccccc;
    -moz-border-radius: 5px;
    //border-bottom: 1px solid #c5e8f8;
}

#header ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
}

#header ul li {
    float: right;
    margin-right: 10px;
    padding: 0px;
    //border-bottom: 1px solid #e0e0e0;
    //border-: 1px solid #e0e0e0;
}

#header ul li a {
    display: block;
    width: 150px;
    font-size: 29px;
    font-weight: normal;
    color: #e0e0e0;
    margin-top: 5px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    //background-color: white;
    border-radius: 5px;
}

#header ul li a:hover {
    //background-color: #ededed;
    color: #3C3B37;
}

.no_border {
    border-bottom: none;
}

#content
{
    //min-height: 200px;
    width: 44%;
    //position: relative;
    float: left;
    //background-color: #f0f9fd;
    //-moz-column-count: 2;
    margin-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}

#content p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

#index_links p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 20px;
}

#content a {
    margin-top: 0px;
    font-size: 18px;
}

#content h2 {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: normal;
    border-bottom: 1px solid #e0e0e0;
}

#content h3 {
    margin-left: 10px;
    margin-bottom: 10px;
}

#content ul {
    list-style: decimal;
    margin: 0px;
}

#content ul li a:link {
    font-size: 18px;
    text-decoration: none;
    color: inherit;
}

#content ul li a:visited {
    font-size: 18px;
    text-decoration: none;
    color: #9a9a9a;
}

#content ul li a:hover {
    font-size: 18px;
    color: inherit;
    text-decoration: underline;
}

#sidebar
{
    min-height: 200px;
    width: 28%;
    //position: relative;
    clear: both;
    float: left;
    //background-color: #2dacd0;
    -moz-border-radius: 5px;
    //-webkit-box-shadow: 3px 3px 7px green;
}

#filler
{
    min-height: 200px;
    width: 28%;
    //position: relative;
    float: left;
    -moz-border-radius: 5px;
    //background-color: #6fd45f;
}

#empty_box {
    width: 28%;
    height: 70px;
    float: left;
    //background-color: blue;
}

#footer {
    //height: 60px;
    width: 100%;
    clear: both;
    color: #e0e0e0;
    text-align: left;
    vertical-align: middle;
    //background-color: #c696ef;
    -moz-border-radius: 5px;
}

h1 {
    font-weight: normal;
    font-size: 27px;
}

h2 {
    font-weight: normal;
    font-size: 25px;
}

h3 {
    font-weight: normal;
    font-size: 35px;
    //margin-left: 10px;
}

h4 {
    font-weight: normal;
    font-size: 20px;
}

#content h5 {
    font-weight: normal;
    //color: black;
    background-color: #ededed;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    -moz-border-radius: 3px;
}

h6 {
    font-size: 16px;
    font-weight: normal;
}

#footer a {     
    border: none;
    text-decoration: none;
}

#footer a img {
    border: none;
}
